/* ==============================================
0.0 General Styles
===============================================*/
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.page {
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
}

body {
  box-sizing: border-box;
  background-color: #000;
  padding: 0px;
  margin: 0px;
  color: var(--primary);
  /* Disables double-tap zoom, which can happen using footerNav etc. */
  touch-action: manipulation;
  overflow-x: hidden;
}

/* General Text */
body,
button,
input,
select,
textarea {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  padding: 0px;
  border: none;
  outline: none;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0px;
}
h1 {
  font-weight: 500;
  margin: 0px;
}
p {
  margin: 0px;
}

.bold {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Remove base list styling */
ul {
  margin: 0;
  padding: 0;
}

/* Remove base button styling */
button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: 0;
}

/* ==============================================
0.3 Variables 
===============================================*/
:root {
  --gold: #EFD9AB;
  --white: #fff;
  --alt-green: #008489;
  --primary: rgb(34, 34, 34);
  --grey: rgb(113, 113, 113); 
  --green: rgb(59, 182, 59); 
  --green-light: #e1f4ec; 
  --error-red: #ff0033;
  --link-blue: #0091ea;
  --bright-blue: #03a3ff;
  --blue-light: #e6f6ff;
  --blue-dark: #004266;
  --yellow: #ffd94f; 
  
  --brand-gradient:linear-gradient(to right, #ed1d58 0%, #E31C5F 50%, #D70466 100%);

  --dark-blue: #2c3e50; 
  --home-desktop-max-width: 1160px;
}

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.invisible {
  visibility: hidden;
}


.clearfix:after {
  clear: both;
}

/* ==============================================
0.5 Page Transitions
===============================================*/

.view-enter-active,
.view-leave-active {
  transition: all 0.2s ease-out;
}

.view-enter,
.view-leave-active {
  transform: translateY(30px);
  opacity: 0;
}

.view-enter-to,
.view-leave {
  opacity: 1;
}

/* ==============================================
0.6 Fade Up / In
===============================================*/

.fade-enter-active {
  transition: all 0.6s ease-in-out;
}

.fade-enter-to {
  opacity: 1;
}

.fade-enter {
  transform: translateY(30px);
  opacity: 0;
}

/* ==============================================
0.6 Fade In
===============================================*/

.pure-fade-enter-active {
  transition: all 1s ease-in-out;
}

.pure-fade-enter-to {
  opacity: 1;
}

.pure-fade-enter {
  opacity: 0;
}

/* ==============================================
0.7 Fade In on scroll for product page (directive)
===============================================*/

.product-before-enter {
  /* transform: translateY(30px);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  transition-delay: 0.1s; */
  transform: translateY(200px);
  transition: transform 800ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.1s;
}

.product-enter {
  transform: translateY(0px);
}

/* ==============================================
0.8 config Transitions
===============================================*/

.config-enter-active,
.config-leave-active {
  transition: all 0.2s ease-out;
}

.config-enter,
.config-leave-active {
  transform: translateY(-30px);
  opacity: 0;
}

.config-enter-to,
.config-leave {
  opacity: 1;
}

/* ==============================================
0.9 Home + Product Tile Content Transitions 
===============================================*/

.home-tile-enter-active {
  transition: 1s transform cubic-bezier(0.5, 1, 0.89, 1),
    0.75s opacity cubic-bezier(0.5, 1, 0.89, 1),
    1s -webkit-transform cubic-bezier(0.5, 1, 0.89, 1);
  transition-delay: 400ms;
}

.home-tile-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.home-tile-enter {
  opacity: 0;
  transform: translateY(40px);
}
